{% include 'css/estilos.twig' %}
{% include 'css/administrador_CSS.twig' %}
<!DOCTYPE html>
<html>
	<head>	
		<title>Lista Secuencias</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		{% block estilo %}{% endblock %}
		{% block administrador_css %}{% endblock %}
	</head>
	<body>
		<div class="header header_Usuario" >
			<a href="/soe/dashboard/secuencia" class="etiqueta_Cerrar_Sesion etiqueta_Atras">
				<i class='fas fa-arrow-left'></i>
			</a>
			<p class="header_p"  id="nombreUsuario">{{username}}</p>
			<span>
				<a href="/soe/logout" class="etiqueta_Cerrar_Sesion">Cerrar Sesion</a>
			</span>
		</div>

		<div class="content">
			<h1 class="content_Title_Menus" >Secuencias registradas</h1>
			<br>
			<p class="instrucciones">Posicionese sobre una secuencia para conocer las opciones</p>
			{% if responseMessage != null %}
				<div class="alert alert-primary" role="alert">
					{{ responseMessage }}
				</div>
			{% endif %}

			<ul class="lista_Materias">
				{% for secuencia in secuencias %}
				<li class="instrucciones">
					<span>{{secuencia.claveSecuencia}}</span>
					<a href="/soe/dashboard/secuencia/list/del/{{secuencia.claveSecuencia}}">
						<span  class="icon_Opcion eliminar" >Eliminar</span>
					</a>
					<a href="/soe/dashboard/secuencia/list/e/{{secuencia.claveSecuencia}}">
						<span  class="icon_Opcion editar">Editar</span>
					</a>
					<a href="/soe/dashboard/secuencia/list/d/{{secuencia.claveSecuencia}}">
						<span  class="icon_Opcion editar">Mostrar materias</span>
					</a>

				</li>
				{% endfor %}
			</ul>
		</div>

		{% if listSubjects != null %}
			<div  class="modal_This">
				<div class="modal_Content">
					<span class="close" >
						<a href="/soe/dashboard/secuencia/list">&times;</a>
					</span>
					<br>
					<h4>{{actualSecuencia.claveSecuencia}}</h4>
					<h5>{{actualSecuencia.carreraSecuencia}}</h5>
					<span class="instrucciones">Materias:</span>
					<ul class="lista_Materias_Secuencia">
						
						{% for list in listSubjects %}
							<li class="">{{list.subjectName}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		{% if listSubjectsEmpty != null %}
			<div  class="modal_This">
				<div class="modal_Content">
					<span class="close" >
						<a href="/soe/dashboard/secuencia/list">&times;</a>
					</span>
					<br>
					<h4>{{actualSecuencia.claveSecuencia}}</h4>
					<h5>{{actualSecuencia.carreraSecuencia}}</h5>
					<span class="instrucciones">Materias:</span>
					<ul class="lista_Materias_Secuencia">
						{{listSubjectsEmpty}}
					</ul>
				</div>
			</div>
		{% endif %}
		

		{% if deletedSubject != null %}
			<div  class="modal_This">
				<div class="modal_Content">
					<span class="close" >
						<a href="/soe/dashboard/secuencia/list">&times;</a>
					</span>
					<br>
					<h3>¿Seguro desea borrar esta secuencia?</h3>
					<form method="post" action="/soe/dashboard/secuencia/list/del">
						<h5>{{deletedSubject}}</h5>
						<br>
						<input name="clave" value="{{deletedSubject}}" style="display: none;">
						<a class="boton_Cancelar boton_Modal a_Boton_Secuencia" href="/soe/dashboard/secuencia/list">Cancelar</a>
						<button class="boton boton_Modal">
							Eliminar
						</button>
					</form>
				</div>
			</div>
		{% endif %}

		{% if editableSecuencia != null %}
			<div  class="modal_This">
				<div class="modal_Content modal_Secuencia_E">
					<span class="close" >
						<a href="/soe/dashboard/secuencia/list">&times;</a>
					</span>
					<br>
					<h3>Editar secuencia</h3>
					<h4>{{editableSecuencia.claveSecuencia}}</h4>
					{% if responseMessageEdit != null %}
						<div class="alert alert-primary" role="alert">
							{{responseMessageEdit}}
						</div>
					{% endif %}
					<span class="instrucciones align-left" >Modifique la información que desea, cuando este listo cierre este mensaje o presione el boton X</span>
					<br>
					<span style="font-size: 1em;" class="align-left">Clave de la secuencia</span>
					<form method="post" action="/soe/dashboard/secuencia/list/e/r">
						<input name="actualClave" value="{{editableSecuencia.claveSecuencia}}" style="display: none;">
						<input type="text" name="clave" class="input_Text input_Text_Admin align-left" value="{{editableSecuencia.claveSecuencia}}" placeholder="Clave secuencia (max. 5 caracteres)" required="true" onkeyup="this.value = this.value.toUpperCase();" autocomplete="off">
						<span style="font-size: 1em;" class="align-left">Carrera de la secuencia</span>
						<input name="actualCarrera" value="{{editableSecuencia.carreraSecuencia}}" style="display: none;">
						<select name="carrera" class="select input_Text" style="width: 100%;">
							<option selected="true"  value="{{editableSecuencia.carreraSecuencia}}">{{editableSecuencia.carreraSecuencia}}</option>
							<option value="Licenciatura en Administración industrial">Licenciatura en Administraci&oacuten industrial</option>
							<option value="Licenciatura en Ciencias de la informática">Licenciatura en Ciencias de la inform&aacutetica</option>
							<option value="Ingenieria en informática">Ingenier&iacutea en inform&aacutetica</option>
							<option value="Ingeniería en Transporte">Ingenier&iacutea en Transporte</option>
							<option value="Ingeniería Industrial">Ingenier&iacutea Industrial</option>
						</select>
						<button class="boton_To_A editar">Cambiar</button>
					</form>

					<span style="font-size: 1em;" class="align-left">Materias</span>
					<span style="font-size: .9em;" class="align-left">Agregar Materias</span>
					<form method="post" action="/soe/dashboard/secuencia/list/e/a">
						<input name="actualClave" value="{{editableSecuencia.claveSecuencia}}" style="display: none;">
						<input type="text" name="subject" class="input_Text input_Text_Admin" style="width: 70%; display: inline;" placeholder="Ingresa el nombre de la materia a agregar" list="subjectsList" autocomplete="off" required />
						<datalist id="subjectsList" >
							{% for subject in subjects %}
								<option value="{{subject.subjectName}}">
							{% endfor %}
						</datalist>
						<button class="boton_To_A editar" >Agregar</button>
					</form>
					<ul class="lista_Materias_Secuencia">
					{% for list in subjecNames%}
						<li>
							<form method="post" action="/soe/dashboard/secuencia/list/e/d" class="form_Editable">
								<span>{{list.subjectName}}</span>
								<input type="text" name="claveSecuencia" value="{{editableSecuencia.claveSecuencia}}" style="display:none;">
								<input type="text" name="materia" value="{{list.subjectName}}" style="display:none;">
								<button class="boton_To_A eliminar">Eliminar</button>
							</form>								
						</li>
					{% endfor %}
					</ul>
					<br>
					<a href="/soe/dashboard/secuencia/list" class="boton boton_Modal a_Edit_Secuencia" style="color: white;">Terminar</a>
				</div>
			</div>
		{% endif %}
	</body>
</html>