{% include 'css/estilos.twig' %}
{% include 'css/administrador_CSS.twig' %}
<!DOCTYPE html>
<html>
	<head>	
		<title>Lista Profesores</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		{% block estilo %}{% endblock %}
		{% block administrador_css %}{% endblock %}
	</head>
    <body>
        <div class="header header_Usuario" >
			<a href="/soe/dashboard/profesor" class="etiqueta_Cerrar_Sesion etiqueta_Atras">
				<i class='fas fa-arrow-left'></i>
			</a>
			<p class="header_p"  id="nombreUsuario">{{username}}</p>
			<span>
				<a href="/soe/logout" class="etiqueta_Cerrar_Sesion">Cerrar Sesion</a>
			</span>
		</div>
        <div class="content">
             <h1 class="content_Title_Menus" >Profesores registrados</h1>
			<br>
			<p class="instrucciones">Posicionese sobre una secuencia para conocer las opciones</p>
			{% if responseMessage != null %}
				<div class="alert alert-primary" role="alert">
					{{ responseMessage }}
				</div>
			{% endif %}

            <ul class="lista_Materias">
				{% for profesor in listProfesores %}
				<li class="instrucciones">
					<span>{{profesor.userName}}</span>
					<a href="/soe/dashboard/profesor/d/{{profesor.email}}">
						<span  class="icon_Opcion eliminar" >Eliminar</span>
					</a>
					<a href="/soe/dashboard/profesor/e/{{profesor.email}}">
						<span  class="icon_Opcion editar">Editar</span>
					</a>
					<a href="/soe/dashboard/profesor/detail/{{profesor.email}}">
						<span  class="icon_Opcion editar">Mostrar detalles</span>
					</a>

				</li>
				{% endfor %}
			</ul>

            {% if deleteProfesor != null %}
                <div  class="modal_This">
                    <div class="modal_Content">
                        <span class="close" >
                            <a href="/soe/dashboard/profesor/l">&times;</a>
                        </span>
                        <br>
                        <h3>¿Seguro desea eliminar este profesor?</h3>
                        <form method="post" action="/soe/dashboard/profesor/del">
                            <h5>{{deleteProfesor.userName}}</h5>
                            <br>
                            <input name="email" value="{{deleteProfesor.email}}" style="display: none;">
                            <a class="boton_Cancelar boton_Modal a_Boton_Secuencia" href="/soe/dashboard/profesor/l">Cancelar</a>
                            <button class="boton boton_Modal">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% if detailProfesor != null %}
                <div  class="modal_This">
                    <div class="modal_Content modal_Secuencia_E">
                        <span class="close" >
                            <a href="/soe/dashboard/profesor/l">&times;</a>
                        </span>
                        <br>
                        <h2>Detalle Profesor</h2>
                        <span class="span align-left">Nombre</span>
                        <h4 class="align-left">{{detailProfesor.userName}}</h4>
                        <span class="span align-left">Email</span>
                        <h5 class="align-left ">{{detailProfesor.email}}</h5>
                        <span class="span align-left">Tel&eacutefono</span>
                        <h5 class="align-left ">{{detailProfesor.phone}}</h5>   
                        <span class="span align-left">Academia</span>
                        <h5 class="align-left ">{{detailProfesor.academy}}</h5>   
                        <span class="span align-left">Cubiculo</span>
                        <h5 class="align-left ">{{detailProfesor.office}}</h5>   
                        <span class="instrucciones top_Border">Clases:</span>
                        <ul class="lista_Materias_Secuencia">
                            {% if listClases != null %}
                                {% for list in listClases %}
                                    <li class="">{{list.nombreRel}}</li>
                                {% endfor %}
                            {% endif %}
                            {% if listClases == null %}
                                <h5 class="">Este profesor no tiene clases asignadas</h5>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if editableProfesor != null %}
                <div  class="modal_This">
                    <div class="modal_Content modal_Secuencia_E">
                        <span class="close" >
                            <a href="/soe/dashboard/profesor/l">&times;</a>
                        </span>
                        <br>
                        <h2>Editar Profesor</h2>
	    				<span class="instrucciones align-left" >Modifique la información que desea, cuando este listo presione "Terminar" o "x"</span>

                        {% if responseMessageEdit != null %}
                            <div class="alert alert-primary" role="alert">
                                {{responseMessageEdit}}
                            </div>
                        {% endif %}
                        <form method="post" action="/soe/dashboard/profesor/edit">
				            <input name="email" value="{{editableProfesor.email}}" style="display: none;"/>
                            <span class="span align-left">Nombre</span>
        				    <input type="text" name="nombreProfesor" value="{{editableProfesor.userName}}" class="input_Text input_Text_Admin" placeholder="Ingrese el nombre del profesor" required="true" />
                            <span class="span align-left">Email</span>
				            <input type="email" name="emailProfesor" value="{{editableProfesor.email}}" class="input_Text input_Text_Admin" placeholder="Ingrese el email del profesor" required="true" />
                            <span class="span align-left">Contraseña</span>
				            <input type="password" name="contraProfesor" class="input_Text input_Text_Admin" placeholder="Ingrese una contraseña (mínimo 6 carácteres)" />
                            <span class="span align-left">Tel&eacutefono</span>
				            <input type="text" name="telefonoProfesor" value="{{editableProfesor.phone}}" class="input_Text input_Text_Admin" placeholder="Ingrese el número de teléfono (10 dígitos)" required /><br>
                            <span class="span align-left">Oficina</span>
                            <select name="academiaProfesor" class="select inline" style="float: left;">
                                <option selected disabled value="{{editableProfesor.phone}}">{{editableProfesor.academy}}</option>
                                <option value="Informatica">Inform&aacutetica</option>
                                <option value="Computacion">Computaci&oacuten</option>		
                            </select>
				            <input type="text" name="cubiculoProfesor" value="{{editableProfesor.office}}"  class="input_Text" placeholder="Cubículo">
                            <button class="boton_To_A editar">Cambiar</button>
                        </form>
                        <h4 class="top_Border">Clases:</h4>
                        <form method="post" class="no_Margin align-left" action="/soe/dashboard/profesor/e/m">
                            <span class="span align-left">Seleccione una secuencia para mostrar sus materias</span>
				            <input name="email" value="{{editableProfesor.email}}" style="display: none;"/>
                            <input type="text" class="input_Text input_Text_Admin inline align-left" name="clave" style="width: 80%;" placeholder="Ingrese la secuencia" list="auxSecuencias" required autocomplete="off" onkeyup="this.value = this.value.toUpperCase();">

                            <datalist id="auxSecuencias">
                                {% for secuencia in listSecuencias %}
                                    <option value="{{secuencia.claveSecuencia}}">
                                {% endfor %}
                            </datalist>
                            <button class="boton_To_A editar inline">Seleccionar</button>
                        </form>
                        {% if listMaterias != null %}
                            <form method="post" action="/soe/dashboard/profesor/edit/aM">
                                <span class="instrucciones align-left"> Secuencia: {{secuencia}}</span>
                                <input type="" name="email" value="{{editableProfesor.email}}" style="display: none;">
                                <input type="" name="clave" value="{{secuencia}}" style="display: none;">
                                <select class="input_Text input_Text_Admin inline align-left" name="materia" required style="width: 80%;">
                                    <option selected disabled>Seleccione una opción</option>
                                    {% for materia in listMaterias %}
                                        <option value="{{materia.subjectName}}">
                                        {{materia.subjectName}}</option>
                                    {% endfor %}
                                </select>
                                <button class="boton_To_A editar inline">Agregar</button>		
                            </form>
                        {% endif %}
                        {% if messageList != null %}
                            <span class="instrucciones align-left"> Secuencia: {{secuencia}}</span>
                            <h6 class="align-left">{{messageList}}</h6>
                        {% endif %}	
                        <ul class="lista_Materias_Secuencia top_Border">
                            {% if listClases != null %}
                                {% for list in listClases %}
                                    <li style="margin: 0;"> 
                                        <form method="post" action="/soe/dashboard/profesor/edit/r" class="form_Editable">
                                            <span>{{list.nombreRel}}</span>
                                            <input name="email" value="{{editableProfesor.email}}" style="display:none;">
                                            <input name="nombreRel" value="{{list.nombreRel}}" style="display:none;">
                                            <button class="boton_To_A eliminar">Eliminar</button>
                                        </form>	
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {% if listClases == null %}
                                <h5 class="">Este profesor no tiene clases asignadas</h5>
                            {% endif %}
                        </ul>
                        <br>
                        <a href="/soe/dashboard/profesor/l" class="boton boton_Modal a_Edit_Secuencia" style="color: white;">Terminar</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </body>
</html>